.activitypayment{
    .mar{
        margin-bottom: 50px;
    }
    .payment-title{
        font-size: 2rem; 
    }
    .card-title{
        color:$primary;
        font-weight: 700;
        
    }
    .form-check-input{
        font-size: 20px;
    }
    .errortext{
        color: red;
    }
    
  .btn-primary{
    color: white ;

  }
    
}