// 選項按鈕MagzOption
.magz_options {
    margin-bottom: 90px;
}
.magz_button1 {
    padding-left: 0;
}
.magz_button2 {
    padding-right: 0;
}

.magz_mask {
    position: relative;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.magz_option_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 182, 164, 0.5);
}

.magz_option_text {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    z-index: 5;
}
// 分隔線
.magz_all_line {
    width: 100% !important;
    height: 2px;
    background-color: $primary;
}
.magz_all {
    width: 100%;
    padding: 60px 0;
    margin: 0 !important;
}
.magz_img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    img {
        width: 300px;
        object-fit: cover;
    }
}
.magz_title {
    font-size: 22px !important;
    color: black;
    font-weight: 600;
}
.magz_title:hover {
    $primary: #b99664 !important;
}
.magz_title:active {
    $primary: #b99664 !important;
}
.magz_author_name {
    font-size: 14px !important;
    margin-bottom: 10px !important;
}
.magz_list_line {
    width: 200px;
    height: 1px;
    background-color: $primary;
    margin-bottom: 10px;
}
.magz_author_context {
    height: 100%;
    font-size: 14px !important;
    line-height: 25px;
    letter-spacing: 15%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
