.banner{
  img{
    width: 100%;
  }
}

.mask{
  position: relative;
}

.mask-option{
 position: absolute;
 top: 0;
 left: 0;
 width: 387px;
 height: 115px;
 background-color: rgb(165, 182, 164, 0.5);
}

.option_text{
  font-size: 3rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-weight: 600;
  z-index: 5;
}
