.cart_product_border {
  border: 1px solid #dcd5ca;
  margin-top: -1px;
  .cart_picture {
    max-width: 200px;
  }

  .cart_product_name {
    width: 25%;
  }

  .cart_product_count :nth-child(odd) {
    cursor: pointer;
  }

  .cart_product_delete {
    width: 5%;
    > svg {
      cursor: pointer;
    }
  }
}

.cart_order_border {
  border: 1px solid #dcd5ca;
  margin-top: -1px;
  margin-bottom: 0;
}

.cart_order_summary {
  background-color: #dcd5ca;
}

.cart_checkout {
  a {
    text-decoration: none;
    padding: 5px 25%;
    font-weight: 600;
    color: #fff;
    background-color: #d1a970;
  }
}

.cart_checkbox{
  width: 14px;
  height: 14px;
}