.comment_title {
  font-size: $h1-font-size;
  font-weight: 700;
}

.comment_img {
  width: 5rem;
  height: 5rem;
  // border: 1px solid black ;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.comment_star {
  color:rgb(246, 219, 18);
}
