.coupon_p {
  color: black;
  font-weight: bold;
}
.coupon_nav {
  color: #acacac;
  border-bottom: 1px solid #acacac;
  font-weight: bold;
}
:focus-visible {

  outline-width: 0;
}
.coupon_btn {
  color: #acacac;
  border: none;
  background-color: transparent;
  &:hover {
    color: $primary;
  }
  &:focus {
    border-bottom: 2px solid #b99664;
    color: $primary;
  }
  &:active {
    border-bottom: 2px solid #b99664;
    color: $primary;
  }
  &.active {
    border-bottom: 2px solid #b99664;
    color: $primary;
  }
}
.coupon_pass {
  font-weight: bold;
  border: 1px solid #b99664;
  color: white;
  background-color: $info;
  width: 100px;
  height: 40px;
  top: -20px;
  right: -23px;
}
.coupon_p {
  color: $primary;
  font-weight: bold;
}
.coupon_prompt{
    font-weight: bold;
  }

.coupon_item1 {
  border: 1px solid #b99664;
  width: 46%;
  height: 220px;
}
.coupon_item2_Div {
  border-left: 1px solid #b99664;
  width: 48%;
}

.couponCard_btn {
  font-weight: bold;
  border: 1px solid #b99664;
  background-color: white;
  width: 85%;
  &:hover {
    background-color: $secondary;
  }
}
