.markercluster-map{
    height: 90vh;
}
select {
	appearance: none !important; //取消箭頭
    // -webkit-appearance: none;
    
}
.card-scroll{
    height: 90vh;
    overflow:auto;
}
.exhibition_card {
    padding: 20px;
    // min-width: 900px;
    // width: 300px;
    a {
        text-decoration: none;
    }
    .img-date{
        .date{
           
           h3{
            bottom: 0px;
            position: absolute;
           }
        }
    }
}
.exhibition_img {
    width: 180px;
    height: 125px;
    img {
        width: 180px;
        height: 125px;
        object-fit: cover;
    }
}
.exhibition_card:hover {
    box-shadow: 8px 8px 10px #b996644d;
}
.exhibition_text {
    position: relative;
    margin-left: 20px !important;
    width: 320px;
    h2 {
        color: black;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .line {
        border-bottom: 2px solid $primary;
        width: 320px;
    }
    p {
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin: 10px 0;
        color: black;
        line-height: 25px;
        
    }
    .city{
        position: absolute;
        bottom: 0px;
    }
}

.button2 {
    padding-left: 0;
    margin: 0;
}
.button3 {
    padding-right: 0;
    margin: 0;
}
.product_mask {
    position: relative;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

.product_option_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 182, 164, 0.5);
}

.product_option_text {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    z-index: 5;
}