// --- Fav list ---

.Fl_title {
  padding-top: 3rem;
  font-weight: bold;
}

.Fl_item {
  margin-right: 5rem;
  .active {
    color: #b99664;
  }
}

.Fl_nav {
  border-bottom: 1px solid $light;
}

.Fl_btn {
  padding-left: 0;
  cursor: pointer;
  color: $light;
  font-weight: bold;
  font-size: $h2-font-size;
}

// ---- Fav product ---

.Fp_top {
  width: 9rem;
  height: 9rem;
}

.Fp_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Fp_heart {
  color: rgb(194, 68, 68);
  font-size: 1.5rem;
  position: absolute;
  right: 8px;
  bottom: 30%;
}

.Fp_button {
  background-color: $primary;
  border: none;
  font-size: 13px;
}

// --- Fav article ---

.Far_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Far_context {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.Far_heart {
  color: rgb(194, 68, 68);
  font-size: 1.5rem;
  position: absolute;
  right: 4px;
  top: 4px;
}

// -- Fav activity --



.Fac_card {
  // height: 25%;
  &:hover {
    box-shadow: 3px 3px 3px gray;
    transform: translate(-5px, -5px);
  }
}

.Fac_cardimg {
  width: 30%;
  height: 5%;
  border: 1px solid red;
}
  

  .Fac_img {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }


.Fac_table {
  width: 100%;
  tr {
    th {
      font-weight: 300;
      // width: 100px;
    }
    td {
      font-weight: 300;
      padding: 0.25rem 3rem;
    }
  }
}

.Fac_heart {
  color: rgb(194, 68, 68);
  font-size: 2rem;  
  position: absolute;
  right: 0;
  top: 8px;
}

.Fac_button{
  position: absolute;
  right: 0;
  bottom: 2px;
}
