.Fp_cardtitle {
    font-size: 1.5rem;
}

.Fp_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Fp_heart {
    color: rgb(194, 68, 68);
    font-size: 1.5rem;
    position: absolute;
    right:5px;
    top: 5px;
}