.header_top {
  padding-inline-start: 0px; 
  margin-bottom: 0px;
  margin-right: 100px;

}
.header_a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

header {
  height: 180px;
  background: white;
  box-shadow: 0 5px 5px rgba(185, 150, 100, 0.25);
  position: sticky;
  top: 0px;
  z-index: 999;
}
.desktop_figure {
  width: 140px;
}
.search_item {
  position: relative;
  margin-top: 45px;
}
.search_bar {
  width: 200px;
  height: 30px;
  border-radius: 20px;
}
.search_icon {
  position: absolute;
  right: 10px;
  top: 2px;
}
.profile_item{
  position: relative;
}
.menu2 {
  a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 9px 34px;
    border-radius: 22.5px;
    font-size: $h2-font-size;
    font-weight: bold;
  }
  a:hover,
  .active {
    color: white;
    background: $primary;
  }
}

.shopcart_item {
  position: relative;
  span{
    text-align: center;
    line-height: 20px;
    position: absolute;
    border-radius: 10px;
    top: -8px;
    right: -8px;
    display: block;
    color: #FFF;
    background-color: #F00;
    width: 27px;
    height: 20px;
    font-weight: 600;
  }
}

/*以下為手機版*/
@media screen and (max-width: 767px){
  header {
    height: 90px;
    box-shadow: none;
  }

  .mobile_figure {
    width: 85px;
    padding-top: 35px;
  }

  .mobile_menu {
    width: calc(100% - 1.1rem);
    position: absolute;
    top: 52px;
  }


  .offcanvas {
    width: 70%;
  }
  .offcanvas_left_menu {
    background: $primary;
    padding: 0 0 0 0;
  }
  .left_offcanvas_body{
    margin: 0 0 0 0;
    li{
      height: 16.5vh;
      position: relative;
      border-bottom: 1px solid white;
        a{
          width: 100px;
        }
    }    
  }
  .offcanvas_right_menu {
    background: $success;
    padding: 0 0 0 0;
  }
  .right_offcanvas_body{
    margin: 0 0 0 0;
  }
  .right_offcanvas_body li {
    height: 14vh;
    position: relative;
    border-bottom: 1px solid white;
    a {
      width: 100px;
    }
  }
  .offcanvas-body .last_li {
    border-bottom: none;
  }
  .left_offcanvas_body li a, .right_offcanvas_body li a{
    display: block;
    color: white;
    font-size: $h4-font-size; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -10px;
  }

  .mobile_search_bar_section {
    /* display: none; */
    position: sticky;
    top: 90px;
    padding-left: 0px; /*取消bootstrap padding, margin預設樣式*/
    padding-right: 0px;
    margin-top: 0rem !important;
  }
  .mobile_search_bar {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $primary;
    margin: 0 auto;
    opacity: 0.9;
  }
  .mobile_search_btn,
  .mobile_search_btn:hover {
    border-radius: 0%;
    width: 20%;
    color: white;
    background-color: $primary;
    font-size: $h4-font-size; 
  }
  }