.header_dropdown_menu{
    width: 120px;
    position: absolute;
    top: 60px;
    left: -40px;
    z-index: 10;
    font-size: $h2-font-size;
    font-weight: bold;
    color: white;
    background: $secondary;
    box-shadow: 0px 0px 5px rgba(186, 150, 99, 0.5);
    li a{
        display: block;
        color: $primary;
        text-decoration: none;
        &:hover{
            color: $info;
        }
    }
}