.product_banner {
  img {
    width: 100%;
  }
}

.product_mask {
  position: relative;
  img {
    width: 100%;
  }
}

.product_option_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(165, 182, 164, 0.5);
}

.product_option_text {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  z-index: 5;
}

.product_filter,
.price_filter {
  span {
    font-size: 22px;
  }
  input {
    width: 100px;
    height: 30px;
  }
  a {
    span {
      font-size: 30px;
    }
  }
}

.product_sidebar {
  a {
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 0;
  }
  .active,
  a:hover {
    color: #903f23;
  }
}

.product_category {
  a {
    color: #a5b6a4;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
  }
  .active,
  a:hover {
    color: #000;
  }
}

.product_item {
  figure {
    // RWD 待調整
    width: 200px;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.product_page {
  .page-link {
    border: 1px solid $primary;
    padding: 6px 13px;
    color: #000;
    font-weight: 600;
  }
  .page-link:focus {
    box-shadow: none;
  }
  a:hover,
  .active {
    background-color: $primary;
    color: #fff;
  }
}

.product_area {
  border-top: 2px solid $primary;
}

/*以下為手機版*/
@media screen and (max-width: 1200px) {
  .product_item {
    figure {
      // RWD 待調整
      width: 160px;
      height: 160px;
    }
  }
}

@media screen and (max-width: 992px) {
  .product_item {
    figure {
      // RWD 待調整
      width: 128px;
      height: 128px;
    }

    .h2 {
      font-size: 12px;
    }

    .h3 {
      font-size: 10px;
    }
  }
  .product_option_text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .product_sidebar {
    a {
      font-size: 12px;
    }
  }
  .product_item {
    figure {
      // RWD 待調整
      width: 100px;
      height: 100px;
    }
  }
  .product_option_text {
    font-size: 3rem;
  }
}

/* ------------ Product Detail ------------*/

.product_description {
  p {
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
}

.product_pluscart {
  background-color: #dcd5ca;
  color: #903f23;
  font-weight: 700;
}

.productdetail_comment{
  max-width: 960px;
  span {
    color: #FFF;
    background-color: #B99664;
  }
}