/* =============== 共用 =============== */
.cursor_pointer {
  cursor: pointer;
}
/* =============== 共用 =============== */
.product_banner {
  img {
    width: 100%;
  }
}

.product_mask {
  position: relative;
  img {
    width: 100%;
  }
}

.product_option_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(165, 182, 164, 0.5);
}

.product_option_text {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  z-index: 5;
}

.product_price_search{
  border: 0;
  svg {
    color: #B99664;
    font-size: 30px;
  }
}

.product_filter,
.price_filter {
  span {
    font-size: 22px;
  }
  input {
    width: 100px;
    height: 30px;
  }
  a {
    span {
      font-size: 30px;
    }
  }
}

.product_sidebar {
  a {
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 0;
  }
  .active,
  a:hover {
    color: #903f23;
  }
}

.product_category {
  a {
    color: #a5b6a4;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
  }
  .active,
  a:hover {
    color: #000;
  }
}

.product_list{
  --bs-gutter-y: 0px;
  --bs-gutter-y: 0px;
  .product_item {
    width: 22%;
    height: 22vw;
    padding-left: 0px;
    padding-right: 0px;
    &:hover{
      transition: .4s;
      box-shadow: 0 0 7px hsla(35, 38%, 56%, 0.5);
    }
    .to_product_detail{
      width: 100%;
      height: 100%;
      text-decoration: none;
      .product_item_avatar {
        height: 60%;
        background: black;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .card_title{
        font-weight: bold;
      }
      .card_brand{
        color: $success;
      }
      .card_price{
        color: $primary;
        font-weight: bold;
      }
    }
  }

 // hover時，圖片變暗的特效
  .product_item:hover{
    .to_product_detail{
      .product_item_avatar{
        img{
          opacity: .9;
          transition: .4s;
        }
      }
    }
  }
}


.product_page {
  .page-link {
    border: 1px solid $primary;
    border-radius: 0 !important;
    padding: 6px 13px;
    color: #000;
    font-weight: 600;
  }

  .page-link:focus {
    box-shadow: none;
  }

  a:hover,
  .active {
    background-color: $primary;
    color: #fff;
  }

  .page_confirm{
    color: #903f23;
    background-color: #DCD5CA;
    border-radius: 3px;
    cursor: pointer;
  }

  .page_confirm:hover{
    background-color: #B99664;
  }

  input{
    width: 25px; 
    height: 25px;
    box-shadow: none
  }

  input:focus{
    outline: 0 none;
  }
}



.product_area {
  border-top: 2px solid $primary;
}

/*以下為手機版*/
@media screen and (max-width: 1200px) {
  .product_item {
    .product_item_avatar {
      width: 180px;
      height: 180px;
    }
    .card_title, .card_price{
      font-size: 12px;
    }
    .card_brand{
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .product_item {
    .product_item_avatar {
      width: 128px;
      height: 128px;
    }
  }
  .product_option_text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .product_banner {
    img {
      height: 20vh;
    }
  }
  .product_sidebar_container{
    display: none;
    .product_sidebar {
      a {
        font-size: 12px;
      }
    }
  }
  .product_list{
    .product_item {
      width: 42%;
      height: 290px;
      .product_item_avatar {
        width: 100px;
        height: 65%;
      }
    }
  } 
  .product_option_text {
    font-size: 3rem;
  }
}

/* ------------ Product Detail ------------*/
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.product_detail_main_pic{
  width: 500px;
  height: 500px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.product_description {
  p {
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
  .price{
    color: $primary;
    font-size: 22px;
    font-weight: bold;
  }
}

.product_pluscart {
  background-color: #dcd5ca;
  color: #903f23;
  font-weight: 700;
}

.product_pluscart:hover{
  background-color: #B99664;
}

.productdetail_user_info{
  .h2{
    margin: 0 0 0 0;
  }
  figure{
    width: 70px;
    height: 70px;
    background: lightgray;
    border-radius: 50%;

  }
  .name_area{
    align-self: center;
  }
  .star_area{
    align-self: center;
  }
}
.productdetail_card{
  .productdetail_card_avatar{
    height: 250px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .productdetail_card_content{
    .user_comment{
      line-height: 1.5;
    }
    span {
      color: #FFF;
      background-color: $success;
    }
  }
}

@media screen and (max-width: 768px) {
  .product_detail_main_pic{
    width: 95%;
    margin: 0 auto;
  }

}