.sidebar {
  ul {
    width: 200px;
    padding: 0;
    li {
      margin-top: 20px;
      padding-bottom: 20px;
      a {
        color: black;
        font-weight: bold;
        &:hover{
          color: $primary;
        }
      }
      .sidebar_active{
        
      }
    }
  }
}