.signup_form{
    .signup_body{
        width: 400px;
        margin: 0 auto;
        border-bottom: 2px solid $primary;
        .is_required{
            color: red;
            margin-left: 50px;
        }
        input{
            display: block;
            width: 300px;
            height: 40px;
        }
        .signup_title{
            font-size: 18px;
            font-weight: bold;
            color: $primary;
        }
    }
    .signup_footer{

        .signup_btn{
            width: 300px;
            height: 40px;
            color: white;
            background-color: $primary;
            border: 0;
        }
    }
}