*{
    box-sizing: border-box;
    list-style: none;
}

 /* 顏色 Color */

 :root{
    --primary_color1: #b99664;
    --primary_color2: #dcd5ca;
    --secondary_color1: #903f23;
    --secondary_color2: #a5b6a4;
    --desktop_title: 1.125rem; /*18px*/

 }


/* -------------------------------- */

/* 字體  */

.title1 {
    font-size: 52px;  
}

.title2 {
    font-size: 18px; 
}

.title3 {
    font-size: 16px; 
}

.title4 {
    font-size: 14px; 
}

.title5 {
    font-size: 12px; 
}


/* -------------------------------- */

